{% extends "base.html" %}

{% block title %}Home - My Profile{% endblock %}

{% block content %}
    <!-- Education Section -->
    <section id="education" style="padding: 50px 0; text-align: center; background: url('https://source.unsplash.com/1600x900/?galaxy,stars') no-repeat center center; background-size: cover; color: #fff;">
    <h2 style="font-size: 2.5em; font-weight: bold; text-transform: uppercase;">Education</h2>
    <p style="font-style: italic; margin-bottom: 30px;">"An investment in knowledge pays the best interest!" - Benjamin Franklin</p>
    <div class="container">
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-6 col-sm-12">
                <div style="background-color: rgba(0,0,0,0.8); padding: 20px; border-radius: 10px; margin-bottom: 20px; box-shadow: 0px 4px 10px rgba(0,0,0,0.5);">
                    <img src="static/nus_logo_full-horizontal.jpg" alt="NUS Logo" style="width: 100px; margin-bottom: 10px;">
                    <h3>Bachelor of Arts in Economics</h3>
                    <p>National University of Singapore</p>
                    <p style="margin-top: 10px;">August 2017 - June 2020</p>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-6 col-sm-12">
                <div style="background-color: rgba(0,0,0,0.8); padding: 20px; border-radius: 10px; margin-bottom: 20px; box-shadow: 0px 4px 10px rgba(0,0,0,0.5);">
                    <img src="static/aws cloud practitioner.png" alt="AWS Logo" style="width: 100px; margin-bottom: 10px;">
                    <h3>AWS Certified Cloud Practitioner</h3>
                    <p>Amazon Web Services</p>
                    <p style="margin-top: 10px;">Certification Obtained: Mar 2023</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
