{% extends "base.html" %}

{% block title %}Home - My Profile{% endblock %}

{% block content %}
    <!-- Projects Section -->
    <section id = "projects" style ="padding: 50px 0; text-align: center; background-color: #222;">
        <h2>Projects</h2>
        <div style="color: #fff;">
            <h3>Portfolio Website</h3>
            <p>A personal portfolio website showcasing my skills and projects.</p>
            <h3>Machine Learning Model</h3>
            <p>Developed a predictive model to classify customer churn with 85% accuracy.</p>
        </div>
    </section>
{% endblock %}
